appdirs==1.4.2
appnope==0.1.0
decorator==4.0.11
falcon==1.1.0
falcon-cors==1.1.2
gunicorn==19.6.0
invoke==0.13.0
ipython==5.1.0
ipython-genutils==0.1.0
marshmallow==2.13.4
marshmallow-sqlalchemy==0.13.0
packaging==16.8
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.13
psycopg2==2.6.2
ptyprocess==0.5.1
Pygments==2.2.0
pyparsing==2.1.10
python-mimeparse==1.6.0
requests==2.13.0
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.1.6
traitlets==4.3.2
wcwidth==0.1.7
